<app-card title="Your fights">
    <ul class="fights-list">
        <li class="fights-list__item">
            <span class="fights-list__item__icon fights-list__item__icon--defeat">
                <img src="./assets/images/shield.svg" alt="Shield Icon">
            </span>
            <div class="fights-list__item__content">
                <p class="fights-list__item__content__title">Defeat</p>
                <p class="fights-list__item__content__text">You have lost the battle with Valeria</p>
            </div>
        </li>
        <li class="fights-list__item">
            <span class="fights-list__item__icon fights-list__item__icon--victory">
                <img src="./assets/images/sword.svg" alt="Shield Icon">
            </span>
            <div class="fights-list__item__content">
                <p class="fights-list__item__content__title">Victory</p>
                <p class="fights-list__item__content__text">You won the battle with Valeria</p>
            </div>
        </li>
        <li class="fights-list__item">
            <span class="fights-list__item__icon fights-list__item__icon--victory">
                <img src="./assets/images/sword.svg" alt="Shield Icon">
            </span>
            <div class="fights-list__item__content">
                <p class="fights-list__item__content__title">Victory</p>
                <p class="fights-list__item__content__text">You won the battle with Valeria</p>
            </div>
        </li>
        <li class="fights-list__item">
            <span class="fights-list__item__icon fights-list__item__icon--defeat">
                <img src="./assets/images/shield.svg" alt="Shield Icon">
            </span>
            <div class="fights-list__item__content">
                <p class="fights-list__item__content__title">Defeat</p>
                <p class="fights-list__item__content__text">You have lost the battle with Valeria</p>
            </div>
        </li>
        <li class="fights-list__item">
            <span class="fights-list__item__icon fights-list__item__icon--pending">
                <img src="./assets/images/shield.svg" alt="Shield Icon">
            </span>
            <div class="fights-list__item__content">
                <p class="fights-list__item__content__title">Pending</p>
                <p class="fights-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
            </div>
        </li>
    </ul>
</app-card>