<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__list__item">
      <a routerLinkActive="navigation__list__item--active" routerLink="./users">
        Users
      </a>
    </li>
    <li class="navigation__list__item">
      <a
        routerLinkActive="navigation__list__item--active"
        routerLink="./notifications"
      >
        Notifications @if (unreadNotificationsAmount) {
        <span class="navigation__list__item__unread">
          {{ unreadNotificationsAmount | unread }}
        </span>
        }
      </a>
    </li>
  </ul>
  <img class="navigation__logo" src="../../../../assets/iqk-logo.svg" alt="">
</nav>
