<app-card
    title="Notifications">
    <div class="notifications">
        <ul class="notifications-list">
            <li class="notifications-list__item notifications-list__item--unread">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item notifications-list__item--unread">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item notifications-list__item--unread">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--victory">
                    <img src="./assets/images/sword.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Victory</p>
                    <p class="notifications-list__item__content__text">You won the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--defeat">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Defeat</p>
                    <p class="notifications-list__item__content__text">You have lost the battle with Valeria</p>
                </div>
            </li>
            <li class="notifications-list__item">
                <span class="notifications-list__item__icon notifications-list__item__icon--pending">
                    <img src="./assets/images/shield.svg" alt="Shield Icon">
                </span>
                <div class="notifications-list__item__content">
                    <p class="notifications-list__item__content__title">Pending</p>
                    <p class="notifications-list__item__content__text">{{ 'You have started the battle with Valeria' | truncate: 35 }}</p>
                </div>
            </li>
        </ul>
    </div>
</app-card>
