@if (user) {
<app-card>
  <div class="info">
    <div class="info__header">
      <app-user-logo [name]="user.name" color="purple" />
      <p class="info__header__name">
        {{ user.name }}
      </p>
      <button
        (click)="handleLogout()"
        class="info__header__logout-btn icon-btn"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    <div class="info__content">
      <div class="info__content__row">
        <div class="info__content__row__left">
          <img src="./assets/images/heart.svg" alt="Heart Icon" />
          Health Points
        </div>
        <p class="info__content__row__value">
          {{ user.hp }}
        </p>
      </div>
      <div class="info__content__row">
        <div class="info__content__row__left">
          <img src="./assets/images/arrow-down.svg" alt="Arrow Icon" />
          Score
        </div>
        <p class="info__content__row__value">
          {{ user.xp }}
        </p>
      </div>
      <button
        [disabled]="!isRevivalAble"
        (click)="handleRevivalClick()"
        class="accent-btn info__renew-lives"
      >
        Renew Lives
      </button>
    </div>
    <p class="info__after-words">
      Keep on, {{ user.name }}, you are doing great!
    </p>
  </div>
</app-card>
}
