<app-card>
    <div class="users">
        <div 
            header
            class="users__header">
            <h2>All Users</h2>
            <div class="users__header__search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search Users...">
            </div>
        </div>
        <div class="users__table__container">
            <table class="users__table">
                <tbody>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="Valeriia Levchuk"
                                    color="blue"
                                ></app-user-logo>
                                <span>Valeriia Levchuck</span>
                            </div>
                        </td>
                        <td>Expert</td>
                        <td>10040 XP</td>
                        <td>5 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="Dmytro Osadchyi"
                                    color="purple"
                                ></app-user-logo>
                                <span>Dmytro Osadchyi</span>
                            </div>
                        </td>
                        <td>Expert</td>
                        <td>10040 XP</td>
                        <td>5 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="Andriy Levchuk"
                                    color="green"
                                ></app-user-logo>
                                <span>Andriy Levchuck</span>
                            </div>
                        </td>
                        <td>Beginner</td>
                        <td>1040 XP</td>
                        <td>3 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="John Doe"
                                    color="purple"
                                ></app-user-logo>
                                <span>John Doe</span>
                            </div>
                        </td>
                        <td>Expert</td>
                        <td>10040 XP</td>
                        <td>5 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="Valeriia Levchuk"
                                    color="blue"
                                ></app-user-logo>
                                <span>Valeriia Levchuck</span>
                            </div>
                        </td>
                        <td>Expert</td>
                        <td>10040 XP</td>
                        <td>5 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="user-cell">
                            <div class="user-cell__container">
                                <app-user-logo
                                    name="Dmytro Osadchyi"
                                    color="purple"
                                ></app-user-logo>
                                <span>Dmytro Osadchyi</span>
                            </div>
                        </td>
                        <td>Expert</td>
                        <td>10040 XP</td>
                        <td>5 HP</td>
                        <td class="action-cell">
                            <button class="primary-btn">Attack!</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-card>