@import 'common';

.toaster {
    background: $error;
    z-index: 100;
    position: absolute;
    color: white;
    padding: $large;
    top: 0;
    right: 0;
    margin: $large;
    border-radius: $medium;
    cursor: pointer;

    &__message {
        font-weight: 500;
    }
}