<section class="sign-up">
    <app-card
        title="Register">
        <div class="sign-up__card">
            <app-input-field
                label="Name"
            ></app-input-field>
            <app-input-field
                label="Email"
            ></app-input-field>
            <app-input-field
                label="Password"
            ></app-input-field>
            <div class="sign-up__card__buttons">
                <button 
                    routerLink="../sign-in"
                    class="simple-btn">
                    Sign In
                </button>
                <button class="primary-btn">
                    Register
                </button>
            </div>
        </div>
    </app-card>
</section>