$fontColor: #797979;
$background: rgba($color: white, $alpha: 0.2);
$bigShadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
$smallShadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
$primary: #8BB5F7;
$secondary: #AE7EEC;
$additional: #5EFFCC;