<section class="sign-in">
    <app-card
        title="Log In">
        <div class="sign-in__card">
            <app-input-field
                label="Email"
            ></app-input-field>
            <app-input-field
                label="Password"
            ></app-input-field>
            <div class="sign-in__card__buttons">
                <button
                    routerLink="../sign-up"
                    class="simple-btn">
                    Sign Up
                </button>
                <button 
                    (click)="navigateToDashboard()"
                    class="primary-btn">
                    Log In
                </button>
            </div>
        </div>
    </app-card>
</section>
